[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
black = "*"
gunicorn = "*"
pytest = "*"
loguru = "*"
async-lru = "*"
pytest-asyncio = "*"
pytest-forked = "*"
pytest-mock = "*"


[dev-packages]

[requires]
python_version = "3.10"
